.loginbox {
    margin: auto 3rem;
    padding: 10rem 0rem;
}

.loginform {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.loginform h1 {
    padding-bottom: 1rem;
}

.regbtn {
    display: none;
}

@media screen and (max-width: 750px) {

    .loginbox {
        margin: 1rem;
    }

    .loginform {
        width: 75%;
    }
}

@media screen and (max-width: 550px) {
    .loginform {
        width: 100%;
    }
}