.postbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6rem 0rem;
}

.post {
    display: flex;
    flex-direction: column;
    background-color: #EEEE;
    border-radius: 5px;
    box-shadow: 0 8px 6px -6px black;
    height: 10rem;
    padding: 1rem 2rem;
    margin: 1rem 15rem;
}

.postprofile {
    margin: 0rem 1rem;
    display: flex;
}

.postdetail {
    margin-top: 0.2rem;
    margin-left: 1rem;
}

.postdetail h3 {
    margin-bottom: 0.5rem;
}

.postreacts {
    margin-top: 3rem;
}
