.loginregister {
    display: flex;
    justify-content: flex-end;
}

.loginregister a {
    margin: 0rem 1rem;
    color: white;
    text-decoration: none;
}

.mediaqlinks {
    display: none;
}

@media screen and (max-width: 750px) {
    .loginregister {
        display: none;
    }

    .mediaqlinks {
        display: initial;
    }

}
