.mypostbox {
    min-height: 85vh;
    padding-top: 4rem;
}

.mypostitem {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 5rem 1rem;
    margin: 1rem 6rem;
    background-color: #eceff1;
    border-radius: 5px;
}

.mypost1 {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mypost2 {
    padding-top: 1rem;
    flex: 1;
}

@media screen and (max-width: 850px) {
    .mypostitem {
        margin: 1rem 2rem;
    }
}

@media screen and (max-width: 450px) {
    .mypostitem {
        margin: 1rem;
    }
}