.mypostbox {
    min-height: 85vh;
    padding-top: 4rem;
}

.mypostitem {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 5rem 1rem;
    margin: 1rem 6rem;
    background-color: #EEEE;
    border-radius: 5px;
    box-shadow: 0 8px 6px -6px black;
}

.mypost1 {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.mypost2 {
    flex: 1;
}