.signupbox {
    margin: auto 3rem;
    padding: 4rem 0rem;
}

.signupform {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.signupform h1 {
    padding-bottom: 1rem;
}

@media screen and (max-width: 750px) {

    .signupbox {
        margin: 1rem;
    }

    .signupform {
        width: 75%;
    }
}

@media screen and (max-width: 550px) {
    .signupform {
        width: 100%;
    }
}